.THIS .slds-dl_horizontal__detail{
    width:60%!important;
}
.THIS .slds-dl_horizontal__label{
    min-width:40%!important;
    
}
.THIS .redcheckbox .slds-checkbox_faux{
       border: 1px solid rgb(205, 24, 24);
    background: rgb(205, 24, 24);
}